

@media (max-width: 1599px) {
    .header-logo {
        width: 95px;
    }
    .main-menu > ul > li > a {
        font-size: 17px;
    }
    .main-menu > ul > li {
        margin-right: 55px;
    }
    .default-button {
        padding: 15px 18px;
        font-size: 17px;
        min-width: 190px;
        border-radius: 10px;
    }
    .header-in {
        padding: 18px 0;
    }


    .hero-text-side .h1 {
        font-size: 36px;
    }
    .hero-content-row {
        padding: 120px 0;
    }
    .hero-t-shape1 {
        width: 440px;
    }
    .hero-t-shape2 {
        width: 640px;
        top: 80px;
    }


    .h2 {
        font-size: 30px;
    }
    .h2-ellipse::after {
        height: 65px;
        width: 65px;
        right: -19px;
    }
}


@media (max-width: 1199px) {
 
}


@media (max-width: 991px) {
 
}


@media (max-width: 768px) {
 
}


@media (max-width: 575px) {
 
}


@media (max-width: 390px) {
 
}
